
{% extends "base.html" %}



{% block content %}

<p></p>
<div class="container">

    <div class="row g-4">
        {% for product in products %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card h-100 shadow-sm border-0">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" style="height: 200px; object-fit: contain;">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title h6">{{ product.name }}</h5>
                        <p class="card-text fw-bold text-success mt-auto">{{ product.price }} грн</p>
                        <a href="/category/{{ product.category.slug }}/{{ product.slug }}/" class="btn btn-outline-primary stretched-link">Переглянути</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
<br>

    {%if search_tool %}
    <div class="d-flex justify-content-center">
    <a href="{% url "home" %} "class="btn btn-warning">Переглянути всі позиції</a>
    </div>
    {% endif %}

</div>
{% endblock %}